body{
    background-color:#d5e1ef;
    font-family:'Outfit', sans-serif;
}


img{
    position:absolute;
    padding:0 1.5rem 0 1.5rem;
    margin:auto;
   height:20rem;
   width:20rem;
   float:left;
   border-radius:15%;
}
h1{
    float:right;
    margin-top:330px;
    margin:330px auto 0;
    text-align: center;
    font-weight:700;
    font-size:25px;
    padding:0 30px;
    color:hsl(218, 44%, 22%);
}
p{
    display:inline-block;
    text-align: center;
    font-weight:400;
    font-size:15px;
    padding:0 30px;
    color:hsl(220, 15%, 55%);
}

.ad{
    margin:100px 0 0 0;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }

.main-box{
    background-color:#ffffff;
    height:30.6875rem;
    width:23.43rem;
    margin: 100px auto;
    padding: 10px 0;
    position:relative;
    border-radius:5%;
}

.text{
    display:inline-block;
}