* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/*HTML TAGS*/

body{
    background-color:#d5e1ef;
    font-family:'Outfit', sans-serif;
}


img{
    width: inherit;
    border-radius: 1.5rem;
    padding: .75rem;
}

p{
    display:inline-block;
    text-align: center;
    font-weight:400;
    font-size:15px;
    padding:0 30px;
    color:hsl(220, 15%, 55%);
}
/*Classes*/
.main-container{
    background-color: hsl(212, 45%, 89%);
    justify-content: center;
    position:relative;
    text-align:center;
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.container{
    width: 18rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}

.header{
    font-size:1.25rem;
    font-weight:bolder;
    color:hsl(218, 44%, 22%);
}

.body-text{
    font-size:1rem;
    padding:1rem 1rem 2rem 1rem;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%); }

/*IDs*/